In [27]:
#**1-Write a Python program to calculate the length of a string using 2 ways
name=input("enter string")
print(len(name))

str=input ("please enter string")
counter=0
for i in str :
    counter+=1
print("Length of the string is:", counter)

enter string ahmed

5

please enter string amr

Length of the string is: 3

In [42]:
#**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'

str=input('enter a string')
if len(str)<2 :
    print (" ")
    
else:
    print(str[0:2]+str[-2]+str[-1])

enter a string a

In [71]:
#*3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'


string=input("enter string")
if len(string)<3 :
    print(string)
elif (string.endswith("ing")):
    
    print((string)+"ly")
else:
    print((string)+"ing")

enter string abcing

abcingly

In [105]:
#**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
def returnmax (words):
    longestword=" "
    maxlen=0
    for word in words:
        if len(word)>maxlen:
            longestword=word
            maxlen=len(word)
            break

    return longestword,maxlen
maxword=returnmax (["mhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh","kkkkkkkkk","hajashsh","amrmohameeddd"])

print(maxword)

('mhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh', 32)

In [119]:
#**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

string=input ('enter string')
print (string [-1]+string[1:-1]+string[0])

enter string hujgyug

gujgyuh

In [120]:
#**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

string=input()
string [ ::2]

 ahmed

'amd'

In [123]:
#**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

sentence = "hi iam amr from maadi hi i'm good bay "
words=sentence.split()
words =set (words)
for word in words :
    print (word,sentence.count(word))

amr 1
good 1
from 1
hi 2
i'm 1
iam 1
bay 1
maadi 1

In [137]:
#**8-Write a Python script that takes input from the user and displays that input back in upper and lower casuse
username=input("enter user name :")
print ( username.upper() , username.lower())

enter user name : ahmed

AHMED ahmed

In [138]:
#**9-Write a Python function to reverse a string if its length is a multiple o
name = input('enter string')
if len (name)%4==0:
    print(name[::-1])

enter string emad

dame

In [139]:
#**10- Write a Python program to remove a newline in Python

sentence="hi azik 3amel ay\n zy folo"
name=sentence.replace ("\n","")
name

'hi azik 3amel ay zy folo'

In [152]:
#**11-Write a Python program to check whether a string starts with specified characters
st='d'
if "amr".startswith("st"):
    print('yes')
else:
    print('no')

no

In [155]:
#**12- Write a Python program to add prefix text to all of the lines in a string

sentence="hi azik 3amel ay\n zy folo"
mylist=sentence.split("\n")
for i in range (len (mylist)):
    mylist[i]=" ana "+mylist[i]
mylist

[' ana hi azik 3amel ay', ' ana  zy folo']

In [156]:
#**13-Write a Python program to print the following numbers up to 2 decimal places
round (2.1484848,2)

2.15

In [158]:
#**14-Write a Python program to print the following numbers up to 2 decimal places with a sign
num=float(input())
if num >0:
    
    print("+", round(num,2))
else:
    print("-", round(num,2))

 2.5548

+ 2.55

In [178]:
#**15-Write a Python program to display a number with a comma separator
number = 12345678901
formatted_number = format(number, ",")
print(formatted_number)

12,345,678,901

In [188]:
#**16-Write a Python program to reverse a string using 2 ways
string="ahmed"
print (string[::-1])
for i in range(len(string)-1,-1,-1):
    print (string[i],end="")

demha
demha

In [191]:
# **17-Write a Python program to count repeated characters in a string (hint:use dictionary)
string=" hiiii ana amrr azaikk"
d=dict()
for i in string:
    d[i]=0
for i in d:
    d[i]=string.count(i)

d

{' ': 4, 'h': 1, 'i': 5, 'a': 5, 'n': 1, 'm': 1, 'r': 2, 'z': 1, 'k': 2}

In [192]:
# **18-Write a Python program to find the first non-repeating character in a given string

string=" hiiii ana Aamrr azaikk"
for i in string:
    if string.count (i)==1:
        print(i)
        break

h

In [197]:
# **19-Write a Python program to remove spaces from a given string
sentence="hi azik 3amel ay zy folo"
name=sentence.replace (" ","")
name

'hiazik3amelayzyfolo'

In [2]:
#**20-Write a Python program to count the number of non-empty substrings of a given string
string=input()
numbofsub=(len(string)*(len(string)+1))/2
numbofsub

 amr

6.0

In [13]:
#**21-write a Python program to swap first and last element of any list.

mylist=[1,2,3,4,5,6]
temp = mylist[0]
mylist[0] = mylist[-1]
mylist[-1] = temp
mylist

[6, 2, 3, 4, 5, 1]

In [38]:
#**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
#Output : [19, 65, 23, 90])
l= [1,2,3,4,5]
pos1=1
pos2=3
l[pos1],l[pos2]=l[pos2],l[pos1]
l

[1, 4, 3, 2, 5]

In [31]:
#**23- search for the all ways to know the length of the list
mylist=[1,2,3,4,5,6]
print ("length is ",len(mylist))
c=0
mylist2=[1,2,3,4,5,6,7]
for i in mylist2 :
    c=c+1
print( str(i))

length is  6
7

In [39]:
#**24-write a Python code to find the Maximum number of list of numbers.

l=[1,2,3,4,5,6,7]
print(max(l))

7

In [40]:
#**25-write a Python code to find the Minimum number of list of numbers.
l=[1,2,3,4,5,6,7]
print(min(l))

1

In [42]:
#**26-search for if an elem is existing in list
l=[1,2,3,4,5,6,7]
if 8 in l:
    print("true")
else:
    print("flase")

flase

In [44]:
#**27- clear python list using different ways

l=[1,2,3,4,5,6,7]
l=[]
l.clear()
l

[]

In [46]:
#**28-remove duplicated elements from a list
l=[1,2,3,4,5,6,7,1]
l = list(dict.fromkeys(mylist))
print(l)

[1, 2, 3, 4, 5, 6]

In [47]:
#**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
key_list = ["name", "number"]
 
result = [{key_list[i]: val for i, val in enumerate(pair)} for pair in zip(test_list[::2], test_list[1::2])]
 
# printing result 
print("The constructed dictionary list : " + str(result))

The constructed dictionary list : [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

In [54]:
#:**30-write a python program to count unique values inside a list using different ways
l=[1,2,2,3,4]
print(len(set(l)))
from collections import Counter
l2=['a','b','v','a','v']
num_values = len(Counter(l2).keys())
print(num_values)

4
3

In [61]:
#**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 Output : [4, 3] )
a = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
out =  [i for i in set(a) if a.count(i) > k]
out

[3, 4]

In [65]:
#**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5 Output: 2 2 3 4 5)

n = 6
a1 = [1,2,2,3,4,5]
a2 = []
for i in range(1, 6):
    ru = max(a1[i], a1[i-1])
    a2.append(ru)
for i in a2 :
    print(i,end=" ")

2 2 3 4 5

In [84]:
#**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3] Output: 1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1)
first_num = int(input("Enter the first number...")) 
second_num = int(input("Enter the second number..."))
third_num = int(input("Enter the third number..."))
mylist = []
mylist.append(first_num),mylist.append(second_num),mylist.append(third_num)

for i in range(0,3):
   for j in range(0,3):
      for k in range(0,3):
         if(i!=j and j!=k and k!=i):
            print(mylist[i],mylist[j],mylist[k])

Enter the first number... 1
Enter the second number... 5
Enter the third number... 6

1 5 6
1 6 5
5 1 6
5 6 1
6 1 5
6 5 1

In [ ]:
#**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
#Output:  ([1], [1, 2], [1, 2, 3], [1, 3] [2], [2, 3], [3])
l=[1,2,3]
# idont know answer

In [89]:
#**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]List_2 = [1,2]
#Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

list1 = ["a", "b"]
list2 = [1, 2]
 
unique_combinations = []
 
for i in range(len(list1)):
    for j in range(len(list2)):
        unique_combinations.append((list1[i], list2[j]))
 
print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

In [125]:
#**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1**Output : 2 3 4 5 2)
l=[1,1,2,3,4,5,1,2]
print(set(l))

{1, 2, 3, 4, 5}

In [116]:
#**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])
l1=['Gfg', 'is', 'best']
l2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
print(f"org list1 is : {str(l1)}")
print(f"org list2 is : {str(l2)}")

resu = [l1[i] for i in l2]
print ("list after index"+str(resu))

org list1 is : ['Gfg', 'is', 'best']
org list2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
list after index['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [122]:
#**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 Output : [(4, 5, 5, 4)] Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 Output : [] )
test_list = [(4, 5, 5 ,4), (5, 4, 3)]
k=5
n=2
res = [i for i in test_list if sum(cnt ==k for cnt in i) == n]
print(res)

[(4, 5, 5, 4)]

In [ ]:
#**39-write a Python Program to Sort the list according to the column using lambda array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Output : Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]] Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]] Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [124]:
#**40- write a program to Sort Python Dictionaries by Key or Value
#:{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
#Output: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
dicc = {"d":4, "b":6, "a":3}

sorted_dt_value = sorted(dicc.values())
print(sorted_dt_value)

[3, 4, 6]

In [136]:
#*41-write python program to Remove keys with Values Greater than K ( Including mixed values ) nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’}, K = 7 Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
k = 7
res = {}

for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > k):
        res[key] = test_dict[key]

print(res)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

In [143]:
#**42-Write a Python program to concatenate the following dictionaries to create a new one

#Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60} Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} d1={1:10, 2:20}
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4={}
for i in (d1,d2,d3):
    d4.update(i)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [154]:
#*43-Write a Python program to iterate over dictionaries using for loops
d={"age":19,"name":'chetos','club':"alahly"}
for key in d.keys():
        print(d[key])

19
chetos
alahly

In [157]:
#**44- Write a Python script to merge two Python dictionaries
dict_1 = {1:'a',2:'b'}
dict_2 = {2:'c',4:'d'}
print(dict_1|dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [169]:
#**45-Write a Python program to get the maximum and minimum values of a dictionary values
d= {1:'a',2:'b'}
key_max = max(d.keys())
print(key_max)
key_min = min(d.keys())
key_min

2

1

In [174]:
#**46- Write a Python program to drop empty items from a given dictionary. Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None} New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}
color = {'c1': 'Red', 'c2': 'Green', 'c3': None}
print("Original Dictionary:",color)
color = {key:value for (key, value) in color.items() if value is not None}
print("New Dictionary :",color)

Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary : {'c1': 'Red', 'c2': 'Green'}

In [178]:
#**47-Write a Python program to create a tuple of numbers and print one item
t=1,2,3,4,5,6
print(t)
print(t[1])

(1, 2, 3, 4, 5, 6)
2

In [191]:
#**48-Write a Python program to unpack a tuple into several variables
t=4,8,16
n1,n2,n3=t
print(f"\t {n1} \n\t {n2} \n\t {n3} ")

	 4
	 8
	 16

In [192]:
#**49-Write a Python program to add an item to a tuple
t=1,2,3,5
t=t+(6,)
t

(1, 2, 3, 5, 6)

In [203]:
#*50-Write a Python program to convert a tuple to a string
t=("a",'m','r')
str ="".join(t)
str

'amr'

In [196]:
#**51-Write a Python program to convert a list to a tuple
list1=[1,2,3,4,5]
t=tuple(list1)
print(t)

(1, 2, 3, 4, 5)

In [206]:
#**52-Write a Python program to reverse a tuple
t=(1,2,3,4,5)
newt=t[::-1]
newt

(5, 4, 3, 2, 1)

In [213]:
#53-Write a Python program to replace the last value of tuples in a list. Sample list: Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]
t1=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in t1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [215]:
#54-Write a Python program to convert a given string list to a tuple Original string: python 3.0 <class 'str'> Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
def convert_string(s):
    return tuple([char for char in st])
st= "python 3.0"
convert_string(s)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

In [218]:
#55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples
t=1,2,3,4,5
avg=sum(t)/len(t)
int(avg)

3

In [220]:
#56-Write a Python program to add member(s) to a set.
s={1,2,3,4,5}
s.add(6,)
s

{1, 2, 3, 4, 5, 6}

In [224]:
#**57-Write a Python program to remove an item from a set if it is present in the set.
s={1,2,3,4,5}
s.remove(5)
s

{1, 2, 3, 4}

In [227]:
#**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets
B = {0, 2, 4, 6, 8,7}
A = {1, 2, 3, 4, 5}
print( A | B)
print( A & B)
print( A - B)
print( A ^ B)

{0, 1, 2, 3, 4, 5, 6, 7, 8}
{2, 4}
{1, 3, 5}
{0, 1, 3, 5, 6, 7, 8}

In [228]:
#**59-Write a Python program to find the maximum and minimum values in a set
s= {1, 2, 3, 4, 5}
print(max(s))
print (min(s))

5
1

In [249]:
#**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.
my_list = [1,2,3,4]
for x in my_list:
    for y in my_list: 
        pairs=[x,y]
        print (pairs)

[1, 1]
[1, 2]
[1, 3]
[1, 4]
[2, 1]
[2, 2]
[2, 3]
[2, 4]
[3, 1]
[3, 2]
[3, 3]
[3, 4]
[4, 1]
[4, 2]
[4, 3]
[4, 4]